# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your name below

In [1]:
# Write your answer here

print("Lily Wang")

Lily Wang

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"

In [2]:
# Write your answer here:

print("I will abide by Emory's code of conduct")

I will abide by Emory's code of conduct

<font size = "5">

Import the libraries "numpy" and "pandas"

In [3]:
# Write your answer here

import numpy as np 
import pandas as pd


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Replace the values "E" with 11 in the column "positionText"
- Create a new column "positionNumeric" that converts <br>
the modified "positionText" column from string to numeric <br>
using ```pd.to_numeric()```

HINT: See the example in Lecture 13

In [44]:
# Write your own code
data = pd.read_csv("data_raw/constructor_standings.csv")

# subset_E = data.query("positionText == 'E'")
data["positionText"] = data["positionText"].replace(["E"], [11])
data["positionNumeric"] = pd.to_numeric(data["positionText"])

<font size = "5">

(b) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" <br>
with the following categories

$\qquad$ ``` ["1950-1970","1971-1990","1991-2005", "2006-2020", "2020-onwards"] ```

$\qquad$ HINT: Use the "pd.cut()" command. See Lecture 13

In [43]:
# Write your own code

races = pd.read_csv("data_raw/races.csv")
bins_years = [1950, 1970, 1990, 2005, 2019, 10000]
labels_years = ["1950-1970", "1971-1990", "1991-2005", "2006-2019", "2020-onwards"]

races["year_brackets"] = pd.cut(races["year"],
                                bins = bins_years,
                                right = True,
                                labels = labels_years)

print(pd.unique(races["year"]))
# Note: checked that the remaining NaN in year_brackets are for the year 1950
races["year_brackets"] = races["year_brackets"].fillna("1950-1970")

[2009 2008 2007 2006 2005 2004 2003 2002 2001 2000 1999 1998 1997 1996
 1995 1994 1993 1992 1991 1990 2010 1989 1988 1987 1986 1985 1984 1983
 1982 1981 1980 1979 1978 1977 1976 1975 1974 1973 1972 1971 1970 1969
 1968 1967 1966 1965 1964 1963 1962 1961 1960 1959 1958 1957 1956 1955
 1954 1953 1952 1951 1950 2011 2012 2013 2014 2015 2016 2017 2018 2019
 2020 2021 2022 2023]

<font size = "5">

(c) Aggregate and query

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Subset the observations for 'raceId == 10' using ```.query()```
- Obtain the sum of "points" by "constructorId" <br> 
(the team) using ``` .groupby().agg() ```
- Subset the teams with a sum of points $\ge 50$
- Store the results of all these operations in a dataframe <br>
```constructor_standings_agg ```

In [38]:
# Write your own code

standings = pd.read_csv("data_raw/constructor_standings.csv")

standings_agg = (standings.query("raceId == 10")
                            .groupby(["constructorId"])
                            .agg(total_points = ('points','sum')))

constructor_standings_agg = standings_agg.query("total_points >= 50")
display(constructor_standings_agg)

               total_points
constructorId
9                      98.5
23                    114.0

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Obtain the sum of "points" by "constructorId" <br> 
(the team) using ``` .groupby().agg() ```
- Sort the teams in descending order using of <br>
the sum of points using ``` .sort_values() ```

In [32]:
# Write your own code


standings = pd.read_csv("data_raw/constructor_standings.csv")

constructor_agg = (standings.query("raceId == 10")
                            .groupby(["constructorId"])
                            .agg(total_points = ('points','sum'))
                            .sort_values(by="total_points", ascending = False))
display(constructor_agg)

               total_points
constructorId
23                    114.0
9                      98.5
6                      40.0
7                      38.5
1                      28.0
3                      25.5
4                      13.0
2                       8.0
5                       5.0
10                      0.0

<font size = "5">

(e) Rename column

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Rename the column "wins" to "wins_constructor"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>
See Lecture 15

In [23]:
# Write your own code

dictionary_rename = {'wins': "wins_constructor"}
standings = standings.rename(columns = dictionary_rename)

<font size = "5">

(f) Merge dataset

<font size = "3">

- Import the "data_raw/constructor_standings.csv" and <br>
"data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using <br>
"constructor_standings" as the primary dataset, and <br>
"constructors" as the secondary dataset, merging on <br>
the column "constructorId"
- To get full points **ONLY** merge the "nationality" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"constructorId" column

In [31]:
constructors = pd.read_csv("data_raw/constructors.csv")
constructors_subset = constructors[["nationality", "constructorId"]]


standings_merge = pd.merge(standings,
                           constructors_subset,
                           on = ["constructorId"], # common variables
                           how = "left") # left dataset is primary one

display(constructors)

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team