# Assignment 7

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [ ]:
print("Lily Wang")

<font size = "5">

Import the "pandas" and "numpy" library

In [2]:
# Write your answer here:

import pandas as pd
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>
using the following table

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

HINT: See Lecture 13

In [18]:
# Read CSV file
students = pd.read_csv("data_raw/students.csv")

# check numeric integers
students.dtypes

# letter grades
bins_grades = [0, 54, 59, 64, 69, 74, 79, 82, 86, 92, 100]
labels_grades = ["F", "D", "C-", "C", "C+", "B-", "B", "B+", "A-", "A"]
students["lettergrade"] = pd.cut(students["numericgrade"],
                                bins = bins_grades,
                                right = True,
                                labels = labels_grades)

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data/raw_results.csv" to <br>
 a new object "results"

In [19]:
# Write your own code

results = pd.read_csv("data_raw/results.csv")

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "milliseconds" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 13 and 14 for how to interpret the codebook

In [56]:
# Write your own code here
# Note: When you run "results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.
display(results)
results.dtypes

# Milliseconds in the codebook is int(11) with null values
# Milliseconds column datatype is object, which does not agree with the codebook

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,milliseconds_numeric
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616.0,39,2,1:27.452,218.300,1,5690616.0
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094.0,41,3,1:27.739,217.586,1,5696094.0
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779.0,41,5,1:28.090,216.719,1,5698779.0
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797.0,58,7,1:28.603,215.464,1,5707797.0
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630.0,43,1,1:27.418,218.385,1,5708630.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,NaN,39,12,1:29.833,211.632,11,NaN
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,NaN,40,20,1:31.158,208.556,11,NaN
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,NaN,42,11,1:29.788,211.738,9,NaN
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,NaN,45,14,1:30.309,210.517,130,NaN
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,NaN,24,17,1:30.579,209.889,47,NaN

resultId                  int64
raceId                    int64
driverId                  int64
constructorId             int64
number                   object
grid                      int64
position                 object
positionText             object
positionOrder             int64
points                  float64
laps                      int64
time                     object
milliseconds            float64
fastestLap               object
rank                     object
fastestLapTime           object
fastestLapSpeed          object
statusId                  int64
milliseconds_numeric    float64
dtype: object

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so, go to Lecture 13 and follow the setups under the headings
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"

HINT: substitute "milliseconds" instead of "alt", <br>
and the dataset "results" instead of "circuits"

In [55]:
# Write your own code here

results["milliseconds"].dtypes

# Note: Currently the column "milliseconds" is numeric (float-64), so running milliseconds.str.isnumeric() will return an error
# And since the list_unique (values to be changed) is currently empty, .replace([], [np.nan]) will also return an error

# Extract list of non-numeric values
subset = results.query("milliseconds.str.isnumeric()==False")
list_unique = pd.unique(subset["milliseconds"])
print(list_unique)

# Replace values
list_new = [np.nan]
results["milliseconds"] = results["milliseconds"].replace([list_unique], [list_new])

# Convert column to numeric
results["milliseconds"] = pd.to_numeric(results["milliseconds"])

dtype('float64')

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "results_agg"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

HINT: See Lecture 14 <br>

In [52]:
# Write your own code
results_agg = (results.groupby("constructorId")
                        .agg(mean_laps = ('laps', 'mean'),
                            stdv_laps = ('laps', 'std'))
                        .sort_values(by="mean_laps", ascending = False))
display(results_agg)

                mean_laps  stdv_laps
constructorId
149            198.500000   2.121320
112            197.000000   4.242641
109            184.285714  32.912583
119            178.666667  36.950417
108            163.764706  63.148168
...                   ...        ...
93               0.000000        NaN
61               0.000000   0.000000
137              0.000000        NaN
91               0.000000        NaN
74               0.000000   0.000000

[210 rows x 2 columns]

<font size = "5" >

(d) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 200'
- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "results_agg"

Hint: See Lecture 11 (to refresh ".query()") and <br>
Lecture 14 for how to combine it with ".groupby()"

In [53]:
# Write your own code
results_agg = (results.query("raceId >= 200")
                        .groupby("constructorId")
                        .agg(mean_laps = ('laps', 'mean'),
                            stdv_laps = ('laps', 'std'))
                        .sort_values(by="mean_laps", ascending = False))
display(results_agg)

                mean_laps  stdv_laps
constructorId
149            198.500000   2.121320
112            197.000000   4.242641
109            184.285714  32.912583
119            178.666667  36.950417
108            163.764706  63.148168
...                   ...        ...
186              0.000000   0.000000
71               0.000000        NaN
74               0.000000   0.000000
177              0.000000   0.000000
153              0.000000        NaN

[201 rows x 2 columns]